{% extends "base.html" %}
{% load humanize %}
{% load cart_template_tags %}
{% block content %}
{% load static %}
{% comment %}
<main>
<script type="text/javascript">
    navbar_active("RobotCompare_button");
</script>
<h1 align="center"> HELLO WORLD !</h1>
<div id="main_container" class="container">
<section class="text-center mt-4 mb-4">


</section>
</div>
</main>
{% endcomment %}
<div>
  <h1>Heading</h1>
  <p>Bunch of awesome content</p>
</div>

<section>
  <h1>Heading</h1>
  <p>Bunch of awesome content</p>
</section>

{% endblock content %}